.map {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-end;

    &__map {
        width: 300px;
        height: 318px;

        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    }

    &__latitude {
        @include setFont(20px, 600);
    
        margin: 10px 0 0 0;    
    }

    &__longitude {
        @include setFont(20px, 600);

        margin: 10px 0 10px 0;
    }
}